@use '../abstract' as *;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap");

:root {
  @each $key, $value in $colors {
    --clr-#{$key}: #{$value};
  }
  --clr-border: var(--clr-neutral-400);
  --clr-content: var(--clr-neutral-900);
  --clr-input-block: var(--clr-secondary);

  @each $key, $value in $font-sizes {
    --fz-#{$key}: #{$value};
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans TC", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  color: var(--clr-content);
  font-size: var(--fz-400);
}

a {
  color: var(--clr-third);
  font-size: inherit;
}

input, textarea, button, select {
	font-size: var(--fz-900);
  background-color: var(--clr-input-block);
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
