*, *::before, *::after {
	box-sizing: border-box;
}

img, picture, svg, video {
	display: block;
	max-width: 100%;
}

html {
	color-scheme: dark light;
}

body {
	min-height: 100vh;
}

@supports (min-height: 100dvh) {
	body {
		min-height: 100dvh;
	}
}

input, textarea, button, select {
	font: inherit;
}
