@mixin btn {
  height: 35px;
  padding: 10px 15px;
  border-radius: 100px;
  font-size: 15px;
  font-weight: 700;
}
@mixin orangeBtn {
  border: 1px solid #ff6600;
  color: #fff;
  background-color: #ff6600;
  @include flex-center();
}
@mixin whiteBtn {
  border: 1px solid #ff6600;
  color: #ff6600;
  background-color: transparent;
  @include flex-center();
}
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
