$color-primary: #FF6600;
$color-secondary: #F5F8FA;
$color-third: #0099FF;
$color-white: #E6ECF0;
$color-neutral: #657786;
$color-black: #1C1C1C;
$color-success: #82C43C;
$color-error: #FC5A5A;

$fz-300: 13px;
$fz-400: 15px;
$fz-500: 18px;
$fz-900: 19px;