$color-primary: #ff6600;
$color-secondary: #f5f8fa;
$color-third: #0099ff;
$color-white: #e6ecf0;
$color-neutral: #657786;
$color-black: #1c1c1c;
$color-success: #82c43c;
$color-error: #fc5a5a;

$fz-300: 13px;
$fz-400: 15px;
$fz-500: 18px;
$fz-900: 19px;
