.tweet {
  border-bottom: 1px solid #e6ecf0;
  width: 100%;
  padding: 15px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  &__img {
    aspect-ratio: 1;
    border-radius: 50%;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__info {
    display: flex;
    gap: 5px;
    margin-block-end: 6px;
    & span {
      &:first-of-type {
        font-weight: 700;
        color: #1c1c1c;
      }

      &:nth-of-type(2) {
        color: #657786;
      }

      &:last-of-type {
        color: #657786;
        &::before {
          content: "•";
          margin-inline-end: 5px;
        }
      }
    }
  }

  &__text {
    margin-block-end: 14px;
    color: #1c1c1c;
  }

  &__footer {
    display: flex;
    gap: 52px;
    font-size: 13px;
    color: #657786;
    align-items: center;

    &_interaction {
      display: flex;
      gap: 12px;
    }

    &_icon {
      width: 15px;
      cursor: pointer;
    }
  }
}
