.form-item {
  margin-bottom: 25px;
}

.input-item {
  display: flex;
  flex-direction: column;

  background-color: #f5f8fa;
  border-radius: 4px 4px 0px 0px;

  padding: 2.5px 0 0 10px;

  label {
    color: #657786;
    font-size: 15px;
  }

  input {
    background-color: #f5f8fa;

    border: none;
    outline: none;

    color: #1c1c1c;
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    letter-spacing: 2px;
  }
}

.status-bar {
  height: 3px;
  background-color: #657786;

  &.error {
    background-color: #fc5a5a;
  }
}

.error-message {
  margin-top: 5px;

  color: #fc5a5a;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
}
