.form-item {
  margin-bottom: 25px;
  position: relative;
}

.input-item {
  display: flex;
  flex-direction: column;

  background-color: #f5f8fa;
  border-radius: 4px 4px 0px 0px;

  padding: 2.5px 0 0 10px;

  label {
    color: #657786;
    font-size: 15px;
  }

  input {
    background-color: #f5f8fa;

    border: none;
    outline: none;

		color: #1C1C1C;
		font-family: 'Noto Sans TC';
		font-style: normal;
		font-weight: 500;
		font-size: 19px;
		letter-spacing: 2px;
	}
	
	// This won't work in FireFox browser.
	&:has(input:hover, input:focus-visible) ~ .status-bar {
		background-color: #50B5FF;
	}
}

.status-bar {
  height: 3px;
  background-color: #657786;

  &.error {
    background-color: #fc5a5a;
  }
}

.error-message {
  margin-top: 5px;

	color: #FC5A5A;
	font-weight: 500;
	font-size: 15px;
	line-height: 15px;
  position: absolute;
  bottom: -1rem;
  left: 0.75rem;
}
